node_modules/

wa-finance-be/.env
wa-finance-be/public/
wa-finance-be/.wwebjs_auth/
wa-finance-be/.wwebjs_cache/
wa-finance-be/.wwebjs_auth_old/

wa-finance-fe/.expo/
wa-finance-fe/dist/
wa-finance-fe/web-build/
wa-finance-fe/expo-env.d.ts
wa-finance-fe/android/
wa-finance-fe/ios/
wa-finance-fe/node_modules/

*.tsbuildinfo
.DS_Store
npm-debug.*
yarn-debug.*
yarn-error.*
